<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.horil.quizhub">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/yourlogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/yourlogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AboutUs"
            android:screenOrientation="portrait"
            android:label="About us"
            android:parentActivityName=".MainActivity"/>

        <activity android:name=".ListViewHandlers.CategoryThreeQuiz"
            android:screenOrientation="portrait"/>

        <activity android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:label="@string/app_name"/>

        <activity android:name=".ListViewHandlers.CategoryTwoQuiz"
            android:screenOrientation="portrait"/>
        <activity android:name=".ListViewHandlers.SubCategoryOneQuiz"
            android:screenOrientation="portrait"/>
        <activity android:name=".QuizViewHandlers.QuizActEnglish"
            android:screenOrientation="portrait"/>

        <activity android:name=".QuizViewHandlers.QuizActGK"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Result"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".MainActivity" />

        <activity android:name=".QuizViewHandlers.QuizActIndia"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ListViewHandlers.SubCategoryTwoQuiz"
            android:screenOrientation="portrait"/>
        <activity android:name=".QuizViewHandlers.QuizActWorld"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>

        <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3776931477519652~5881977608"/>
    </application>

</manifest>